<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    <add key="rutaOrigen" value="C:\Users\Sebastian\OneDrive - WEBHELP\Escritorio\serviceOrigen\"/>
    <add key="rutaDestino" value="C:\Users\Sebastian\OneDrive - WEBHELP\Escritorio\serviceDestino\"/>
  </appSettings>
</configuration>